/* ========== Google Fonts ========== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* ========== Google Fonts ========== */
@import 'node_modules/modern-normalize/modern-normalize.css';

/* ========== Variables ==========  */

:root {
    /* Colours */
    --gray5: hsl(0, 0%, 5%);
    --gray10: hsl(0, 0%, 10%);
    --gray30: hsl(0, 0%, 30%);
    --gray50: hsl(0, 0%, 50%);
    --gray70: hsl(0, 0%, 70%);
    --gray90: hsl(0, 0%, 90%);
    --body: hsl(0, 0%, 40%);
    --white: #f1f1f1;
    --black: #000;
    --colora: #e7b353;
    --header: rgba(123, 123, 123, 0.75);


    /* Font Sizes */
    --base-font-size: 1rem; /* 16px */
    --scale-factor: 1.25; /* Modular scale factor */

    /* Heading font sizes in rem */
    --h1-size: calc(var(--base-font-size) * 3); /* 3rem = 48px */
    --h2-size: calc(var(--base-font-size) * 2.5); /* 2.5rem = 40px */
    --h3-size: calc(var(--base-font-size) * 2); /* 2rem = 32px */
    --h4-size: calc(var(--base-font-size) * 1.75); /* 1.75rem = 28px */
    --h5-size: calc(var(--base-font-size) * 1.5); /* 1.5rem = 24px */
    --h6-size: calc(var(--base-font-size) * 1.25); /* 1.25rem = 20px */
    --small-size: calc(var(--base-font-size) * 0.8)

    /* Body font size */
    --body-font-size: var(--base-font-size); /* 1rem = 16px */

    /* Line Heights */
    --heading-line-height: 1.2;
    --body-line-height: 1.6;

    /* Font Weights */

    /* Z-Index */
}

/* ===== Global Styles ===== */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

article, aside,
details, figcaption, 
figure, footer, 
header, hgroup, 
main, nav, 
section, summary {
    display: block;
}

body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--gray5);
    background-color: var(--white);
    overflow-wrap: break-word;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--gray5);
}

a:focus,
a:hover,
a:active {
    text-decoration: none;
    columns: var(--colora);
}

h1 {
    font-size: var(--h1-size);
    line-height: var(--heading-line-height);
}
  
h2 {
    font-size: var(--h2-size);
    line-height: var(--heading-line-height);
    margin-bottom: 80px;
}
  
h3 {
    font-size: var(--h3-size);
    line-height: var(--heading-line-height);
}
  
h4 {
    font-size: var(--h4-size);
    line-height: var(--heading-line-height);
}

p {
    color: var(--body);
}

.light {
    color: var(--gray90);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section {
    position: relative;
}

.dark-background {
    display: flex;
    flex-direction: column;
    background-color: var(--gray10);
    padding: 60px 0;
    max-width: none;
}

/* ===== Header ===== */

header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 32px 80px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    backdrop-filter: blur(16px);

    text-wrap: nowrap;

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: auto;

        width: 100%;
        max-width: 1440px;

        .logo-holder {
            text-decoration: none;

            .logo {
                font-size: var(--h1-size);
                color: var(--white);
            }
        }

    }
    
    .logo-holder .logo {
        color: var(--white);
    }

    .logo-holder .logo:focus
    .logo-holder .logo:hover {
        color: var(--white);
    }
    
    .logo-holder .logo:active {
        color: var(--colora);
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 30px;
            
            li {
                display: flex;
                align-items: center;
                
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--white) !important;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }

                
                .contact {
                    background-color: var(--white);
                    color: var(--gray30) !important;
                    font-weight: 700;
                    padding: 30px 20px;
                }
            }
        }
        .mobile-toggle {
            display: none;
            color: var(--white);
            padding: 10px;
            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 30px;
                right: 20px;
            }
        }
    }


    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        a {
            display: none;
        }

        nav {
            margin-top: 10px;
            width: 100%;
            background-color: rgba(123, 123, 123, 0.25);

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}

/* ===== Home Page ===== */

.container {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.hero {
    margin: auto;
    width: 100%;
    max-width: none;
    background-color: var(--black);
    flex-direction: column;

    .hero-reel {
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1440px;

        img {
            width: 100%;
        }
    }
    .scroll-down {
        margin-top: -40px;
        padding-bottom: 20px;
        color: var(--white);
        scale: 2;
    }

    @media screen and (max-width: 767px) {
        .hero-reel {
            padding-top: 32px;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: 120px auto;
    padding: 0 80px;

    p {
        max-width: 1120px;
        color: var(--gray30);
    }

    @media screen and (max-width: 767px) {
        h2 {
            margin-bottom: 16px;
        }

        p {
            width: 90%;
        }
    }
}

.awards {
    max-width: none;

    .grid {
        display: flex;
        flex-direction: row;
        gap: 80px;
        align-items: start;

        

        img {
            width: 200px;           
        }
    }
    
    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .award-title {
        color: var(--gray90);
    }

    .awards-paragraph {
        max-width: 1120px;
        color: var(--gray70);
    }

    .contact-button {
        background-color: var(--colora);
        padding: 12px;
        border-radius: 40px;
    }

    @media screen and (max-width: 767px) {
        .award-images {
            display: flex;
            flex-direction: column;
        }

        h2 {
            margin-bottom: 16px;
        }

        p {
            width: 80%;
        }
    }
}

.team {
    display: flex;
    flex-direction: column;
    margin: 0% 25% 40px;
    /* padding: 0 160px; */
    max-width: 1440px;

    h2 {
        margin: 40px auto;
    }

    .grid {
        display: flex;

        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-around;
        align-items: flex-start;
        
        .grid-item {
            display: flex;
            flex-direction: column;
            box-sizing: border-box; /* Ensures padding and borders don't affect the width */
            padding: 20px;
            align-items: center;
            background-color: var(--gray70);
            
            img {
                width: 320px;
                max-width: 1440px;
                max-height: 320px;
                margin-bottom: 20px;
                object-fit: cover;                
            }

            h4 {
                font-size: var(--h6-size);
                margin-top: 8px;
                margin-bottom: 4px;
            }

            .small-font {
                font-size: var(--small-size);
                color: var(--gray30);
            }
        }
    }

}

/* ===== Contact Us Section */
.contact {
    max-width: 1200px;
    margin: 0 25% 0;
    padding: 40px 0;

    .contact-container {
        background-color: var(--gray30);
        padding: 40px;
        border-radius: 8px;
        width: 50%;

        .contact-title {
            margin-bottom: 20px;
            color: var(--white);
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            h4 {
                font-weight: 300;
            }

            .names {
                display: flex;
                flex-direction: row;
                gap: 16px;
            }

            hr {
                border: none;
                width: 120px;
                height: 5px;
                background-color: var(--gray70);
                border-radius: 10px;
                margin-bottom: 20px;
            }

            .contact-inputs {
                width: 100%;
                height: 50px;
                border: none;
                outline: none;
                border-radius: 4px;
                padding-left: 25px;
                font-weight: 100;
                color: var(--gray50);

            }

            
            .contact-inputs:focus {
                border: 2px solid var(--colora);
            }

            .contact-inputs::placeholder {
                color: var(--gray50);

            }

            textarea {
                padding-top: 15px;
                max-width: 100%;
                min-width: 100%;
            }

            button {
                display: flex;
                align-items: center;
                padding: 15px 30px;
                color: var(--white);
                gap: 10px;
                border: none;
                border-radius: 50px;
                background: var(--colora);
                cursor: pointer;

                img {
                    height: 25px;
                    width: 30px;
                }
            }

            button:hover {
                text-decoration: underline;
            }

            input[type="email"]:valid {
                color: rgb(56, 158, 56);
            }
            
            input[type="email"]:invalid {
                color: rgb(178, 36, 36);
            }
        }
    }

    @media screen and (max-width: 767px) {
        .contact-container {
            padding: 20px;
            width: 80%;
        }
    }
}

/* ===== Services Page ===== */
.services-tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 160px;
    max-width: 1440px;
    width: 100%;
    
    .grid-container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1440px;
        width: 100%;
        gap: 20px;
        padding: 20px;
        
        .grid-item {
            display: flex;
            padding: 20px;

            flex-direction: column;
            align-items: center;

            flex: 1 1 30%;
            min-width: 30%;
            margin-bottom: 160px;

            text-wrap: nowrap;

            svg {
                margin-bottom: 20px;
                width: 60px;
                height: 60px;
            }

            path {

                &#Background {
                    fill: var(--black);
                }
            }

            .service-name {
                font-size: var(--h6-size);
            }

            .service-description {
                font-size: var(--small-size);
                font-weight: 300;
                color: var(--gray50);
            }
        }
    }
}

@media (max-width: 1024px) {
    .services-tiles .grid-container .grid-item {
        flex: 1 1 45%; /* 2 items per row on medium screens */
        max-width: 45%; /* Adjust width accordingly */
    }
}

@media (max-width: 767px) {
    .services-tiles {
        margin-top: 40px;
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .services-tiles .grid-container .grid-item {
        flex: 1 1 100%; /* 1 item per row on small screens */
        max-width: 100%;
        margin-bottom: 40px;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 120px;
    width: 100%;
    background-color: var(--gray10);
    
    .grid-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1440px;
        width: 100%;
        gap: 20px;
        padding: 20px;
        
        .grid-item {
            display: flex;
            padding: 20px;

            flex-direction: column;
            align-items: center;
            justify-content: center;

            flex: 1 1 calc(25% - 30px);
            min-width: calc(25% - 30px);
            max-width: 200px;
            height: 200px;
            margin-bottom: 160px;

            text-wrap: nowrap;

            border: solid var(--gray50) 2px;
            border-radius: 16px;

            svg, img {
                margin-bottom: 20px;
                width: 60px;
                height: 60px;   
            }

            h4 {
                color: var(--gray70);
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 1024px) {
    .skills .grid-container .grid-item {
        flex: 1 1 45%; /* 2 items per row on medium screens */
        max-width: 45%; /* Adjust width accordingly */
    }
}

@media (max-width: 768px) {
    .skills .grid-container .grid-item {
        flex: 1 1 100%; /* 1 item per row on small screens */
        max-width: 100%;
        margin-bottom: 40px;
    }

    .skills {
        padding: 24px;
    }
}

/* ===== Projects Page ===== */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: var(--gray90);

    .wrapper {
        display: flex;
        margin: auto;
        width: 70%;
    }

    .grid-container {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        grid-auto-rows: min-content;
        padding: 3vw;
        position: relative;
        z-index: 1;
        order: 1;
    }

    .grid-item-link {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
        min-width: 430px;
        position: relative;
        overflow: hidden;
        padding: 4px;
        order: 1;
    }

    .grid-item {
        opacity: 1;
        transition: opacity ease .2s;

        img {
            height: 250px;
            width: auto;
            background-color: black;
            border-radius: 8px;
            padding: 1vw;
            object-fit: contain;

            &.no-padding {
                object-fit: fill;
                padding: 0;
            }
        }
    }

    .grid-item:hover {
        opacity: .8;
    }

    @media screen and (max-width: 1300px) {
        .grid-container {
            padding-left: 6vw;
            padding-right: 6vw;
            grid-template-columns:repeat(1,minmax(0,1fr));
        }        
    }

    @media screen and (max-width: 767px) {
        gap: 8px;

        .wrapper {
            width: 100%; /* Make the wrapper fill the screen width */
            padding: 0 20px; /* Add consistent padding to prevent overflow */
            margin: 0;
            margin-bottom: 20px;
        }
    
        .grid-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr; /* Force a single column layout */
            width: 100%; /* Ensure the grid container takes full width */
            padding: 0; /* Remove padding */
        }
    
        .grid-item {
            width: 100%; /* Ensure each grid item takes full width */
            max-width: 100%; /* Avoid any overflow */
            margin: 0 auto; /* Center the grid items */
            padding: 0; /* Ensure proper padding between grid items */
        }

        .grid-item a {
            padding: 0;
            width: fit-content;
        }
    
        .grid-item img {
            width: 80%; /* Make images fully responsive */
        }
    
        .description {
            padding-top: 16px;
            text-align: start; /* Ensure descriptions are centered */
        }
    
        .filter {
            display: flex;
            justify-content: center; /* Center filter items */
            flex-wrap: wrap; /* Allow filter items to wrap on mobile */
            margin-bottom: 16px; /* Add space below filter */
        }
    }

    .filter {
        margin-top: 40px;
        
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
            list-style: none;
            cursor: pointer;
            text-wrap: none;

            a:hover {
                text-decoration: underline;
            }
        }

        @media  screen and (max-width: 767px) {
            margin: 32px;
            align-items: center;
            
            .filter {
                justify-content: center;
                align-items: center;
            }

        }
    }
}

/* ===== BeatBox Page */
.main-content {
    margin-top: 64px;
    margin-bottom: 64px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 120px;

        .group {
            display: flex;
            flex-direction: column;
            margin: 0 25%;

            img {
                width: 80%;
                align-self: center;
                margin: 16px 0 32px;
            }

            h2 {
                margin-bottom: 8px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        .container {
            display: flex;
            flex-direction: column;
            margin: 24px;

            .group {
                display: flex;
                flex-direction: column;
                margin: 0 12px;

                img {
                    width: 75%;
                    align-self: center;
                }

                h2 {
                    margin-top: 16px;
                    margin-bottom: 4px;
                }
            }
        }
    }
}

/* ===== Footer ===== */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray10);
    padding: 50px;
    margin: 0;
    width: 100%;

    .footer {
        display: flex;
        justify-content: space-evenly;
        text-wrap: nowrap;
        max-width: 1440px;
        width: 100%;

        .footer__item,
        .footer__item:active,
        .footer__item:focus,
        .footer__item:hover {
            padding-bottom: 20px;
            color: var(--gray70);
        }

        .footer__item:hover {
            text-decoration: underline;
        }

    }
    
    p {
        color: var(--gray50);
        font-size: var(--small-size);
        font-weight: 200;
    }

    @media (max-width: 764px) {
        .footer {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0;
        }
    }
}