@use "sass:math";

$ff-base: "DM Sans", Sans-serif;
// $ff-accent: "Open Sans", Sans-serif;

$fw-400: 400;
$fw-700: 700;

$base-font-size-xs: 1rem; // 16px
$base-font-size-sm: 1.125rem; // 18px
$base-font-size-md: 1.266rem; // 20.25px
$base-font-size-lg: 1.424rem; // 2*px
$base-font-size-xl: 1.602rem; // 2*px

$perfect-fourth: 1.333; // Perfect Fourth scale factor

$type-scale: (
  xs: (
    100: $base-font-size-xs * math.pow($perfect-fourth, 0),
    200: $base-font-size-xs * math.pow($perfect-fourth, 1),
    300: $base-font-size-xs * math.pow($perfect-fourth, 2),
    400: $base-font-size-xs * math.pow($perfect-fourth, 3),
    500: $base-font-size-xs * math.pow($perfect-fourth, 4),
    600: $base-font-size-xs * math.pow($perfect-fourth, 5),
  ),
  sm: (
    100: $base-font-size-sm * math.pow($perfect-fourth, 0),
    200: $base-font-size-sm * math.pow($perfect-fourth, 1),
    300: $base-font-size-sm * math.pow($perfect-fourth, 2),
    400: $base-font-size-sm * math.pow($perfect-fourth, 3),
    500: $base-font-size-sm * math.pow($perfect-fourth, 4),
    600: $base-font-size-sm * math.pow($perfect-fourth, 5),
  ),
  md: (
    100: $base-font-size-md * math.pow($perfect-fourth, 0),
    200: $base-font-size-md * math.pow($perfect-fourth, 1),
    300: $base-font-size-md * math.pow($perfect-fourth, 2),
    400: $base-font-size-md * math.pow($perfect-fourth, 3),
    500: $base-font-size-md * math.pow($perfect-fourth, 4),
    600: $base-font-size-md * math.pow($perfect-fourth, 5),
  ),
  lg: (
    100: $base-font-size-lg * math.pow($perfect-fourth, 0),
    200: $base-font-size-lg * math.pow($perfect-fourth, 1),
    300: $base-font-size-lg * math.pow($perfect-fourth, 2),
    400: $base-font-size-lg * math.pow($perfect-fourth, 3),
    500: $base-font-size-lg * math.pow($perfect-fourth, 4),
    600: $base-font-size-lg * math.pow($perfect-fourth, 5),
  ),
  xl: (
    100: $base-font-size-xl * math.pow($perfect-fourth, 0),
    200: $base-font-size-xl * math.pow($perfect-fourth, 1),
    300: $base-font-size-xl * math.pow($perfect-fourth, 2),
    400: $base-font-size-xl * math.pow($perfect-fourth, 3),
    500: $base-font-size-xl * math.pow($perfect-fourth, 4),
    600: $base-font-size-xl * math.pow($perfect-fourth, 5),
  ),
);
